:root{
    background-color: lightslategrey;
    color: white;
}
#theLibrary{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 25%));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    border-style: solid;
    border-color: black;
    width: 70%;
    height: 500px;
    margin: auto;
}
.addBook {
    display: grid;
    grid-template-columns: minmax(100px, 0%);
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}
